<div class="container mb-xl-5">
  <div class="row">
    <div class="col-lg-12 col-xl-4 text-center">
      <%= image_tag "picOfDpak", class: "img-fluid" %>
    </div>

    <div class="col my-4">
      <p>Hi, I’m Deepak! I am a self-taught developer,
      thanks to the internet and tons of reading and coding. I originally started out pursuing
      a degree in Computer Engineering, but soon realized I wanted to develop software, so I
      took it upon myself to take a self-directed approach to learning what I need to create
      full featured, robust and scalable applications. I find the low-level and hardware knowledge
      I gained from my initial Computer Engineering pursuit benefits me greatly when I seek to
      solve new problems, or reason about my implementations.</p>

      <p>For the past year I have taken the time to learn web development primarily using
      Ruby on Rails as the web application development framework. As a result of that time
      I was able to create this portfolio and also learn about the structure and best practices of web
      based application development. I have gained a fair amount of experience from completing
      <%= link_to '“The Odin Project”', 'https://www.theodinproject.com/about?ref=homenav' %>
       and have spent a fair amount of time teaching myself the skills,
      languages, and tools I needed which you can find in
      <%= link_to ' my resume', 'https://drive.google.com/file/d/1aURNBvSJ2__-Ampuz9cToptjSF7f2GjA/view?usp=sharing' %>.</p>

      <p>In my spare time I also work on game development (mainly using
      <%= link_to 'SDL', 'https://www.libsdl.org/' %>  in C/C++), play basketball and play video games.
      I know that I can be an asset at any organization looking for a new developer.
      I am self-driven, motivated and passionate about software and while we all have our ups and downs,
      I always come back for more, hungrier as I continue to grow and learn. I am currently looking for a
      full time opportunity and if you are interested please don’t hesitate to
      <%= link_to 'contact me', '#contact-me'%>. </p>
    </div>
  </div>
</div>
