<div class="container">
  <div class="row my-md-4">
    <%= link_to image_tag('railsLogo', class: "col img-fluid"), 'https://rubyonrails.org/' %>
    <%= link_to image_tag('rubyLang', class: "col img-fluid"), 'https://www.ruby-lang.org/en/' %>
    <%= link_to image_tag('jsLogo', class: "col img-fluid"), 'https://www.javascript.com/' %>
    <%= link_to image_tag('jqueryLogo', class: "col img-fluid"), 'https://jquery.com/' %>
    <span class="gray-background"><%= link_to image_tag('cssLogo', class: "col img-fluid"), 'https://www.w3.org/standards/webdesign/htmlcss' %></span>
    <%= link_to image_tag('bootstrapLogo', class: "col img-fluid"), 'https://getbootstrap.com/' %>
    <%= link_to image_tag('cLogo', class: "col img-fluid"), 'https://en.wikipedia.org/wiki/C_(programming_language)' %>
    <%= link_to image_tag('cplusplusLogo', class: "col img-fluid"), 'http://www.cplusplus.com/' %>
    <%= link_to image_tag('cSharpLogo', class: "col img-fluid"), 'https://en.wikipedia.org/wiki/C_Sharp_(programming_language)' %>
    <%= link_to image_tag('pythonLogo', class: "col img-fluid"), 'https://www.python.org/' %>
  </div>

  <div class="row my-md-5">
    <span class="gray-background"><%= link_to image_tag('htmlLogo', class: "col img-fluid"), 'https://www.w3.org/standards/webdesign/htmlcss' %></span>
    <%= link_to image_tag('gitLogo', class: "col img-fluid"), 'https://git-scm.com/' %>
    <%= link_to image_tag('herokuLogo', class: "col img-fluid"), 'https://www.heroku.com/' %>
    <%= link_to image_tag('windowsLogo', class: "col img-fluid"), 'https://www.microsoft.com/en-ca/windows' %>
    <%= link_to image_tag('linuxLogo', class: "col img-fluid"), 'https://www.linux.org/' %>
    <%= link_to image_tag('mysqlLogo', class: "col img-fluid"), 'https://www.mysql.com/' %>
    <%= link_to image_tag('postgresqlLogo', class: "col img-fluid"), 'https://www.postgresql.org/' %>
    <%= link_to image_tag('sdlLogo', class: "col img-fluid"), 'https://www.libsdl.org/' %>
    <%= link_to image_tag('pygameLogo', class: "col img-fluid"), 'https://www.pygame.org/wiki/about' %>
  </div>
</div>
