<%= javascript_include_tag params[:controller] %>
<% store_location %>
<div class="container-fluid center jumbotron" id="intro-typing">
  <%= video_tag "typing.mp4", autoplay: :autoplay, muted: true, id: "typing-video", class: "img-responsive center-block" %>
  <h1 class="display-3" id="intro-text">  </h1>
</div>

<h1 class="center  ">About me</h1> <br>
<div id="about-me">
  <div id="about-me-text">
    <%= render partial: "about_me" %>
  </div>
</div>

<hr>
<div id="languages" class="center">
  <h1 class="center">My languages/technologies</h1>
  <%= render partial: "languages" %>
</div>

<hr>
<div id="projects" class="center">
  <h1 class="center">My projects</h1>
  <%= render partial: "projects" %>
</div>

<hr>
<div>
  <h1 class="center">Why I program?</h1>
  <%= render partial: "why_program" %>
</div>

<hr>
<div id="future">
  <h1 class="center">The future</h1>
  <%= render partial: "future" %>
</div>


<hr>
<div id="contact-me" class="center">
  <h1 class="center  ">Contact Me</h1>
  <%= render partial: "contact_me" %>
</div>
