<%= javascript_include_tag params[:controller] %>
<div class="col-xs-2"></div>
<div class="col-xs-8">
  <div class="center jumbotron white-text">
    <h1>Mastermind</h1>
  </div>
  <p id="how-to-play-text" class="white-text" data-toggle="collapse" data-target="#instructions-text" onclick="handleInstructClick()">How to play [+]</p>
  <div id="instructions-text" class="white-text collapse">
    <%= render 'instructions' %>
  </div>
  <br>
  <div id="leftPanel" class="col-xs-3">
    <div id="colors" class="col-xs-9 align-self-center">
      <% 3.times do %>
        <%= render 'color_row' %>
      <% end %>
    </div>
    <div class="col-xs-2"></div>
    <div id="turn-buttons" class="col-xs-12">
      <div id="turn-number" class="white-text">Turn: 1</div> </br>
       <button id="checkButton" onclick="checkGuess()">Check row </button> </br>
       <button onclick="newGame()">Start a new game </button> </br>
    </div>
    <div id="correct-colors" class="col-xs-12 white-text" style="visibility: hidden;">
      </br>
      <span class="col-xs-12"> The secret code is:</span>
      <%= render 'row'%>
    </div>
  </div>
  <div id="board" class="col-xs-4 webd-font" ondragover="allowDrop(event)" ondrop="return false;">
    <% 12.times do |r| %>
      <span id="turn-span" class="col-xs-1 white-text"><%=r+1%></span>
      <%= render 'row', r: r%>
    <% end %>
  </div>
  <div class="col-xs-3">
    <% 12.times do %>
      <% 4.times do %>
        <div class="guess-font guess-indicator">
        </div>
      <% end %>
      <br>
    <% end %>
  </div>
</div>
