<% provide(:title, "Mastermind") %>
<%= javascript_include_tag params[:controller] %>
<% store_location %>
<div class="center jumbotron">
  <h1>Mastermind</h1>

  <p class="center" style="color:red;">NOTE: This game is meant to be played on a computer
    and may not be compatible with tablets or mobile phones.</p>
</div>

<div class="container">
  <p id="how-to-play-text"   data-toggle="collapse" data-target="#instructions-text" onclick="handleInstructClick()">How to play [+]</p>
  <div id="instructions-text" class=" collapse">
    <%= render 'instructions' %>
  </div>
  <br>

  <div class="row">
    <div id="leftPanel" class="col-md-12 col-lg-3">
      <div class="row" id="scroll-panel">
        <div id="colors" class="col-md-6 col-lg-6">
          <% 3.times do %>
            <%= render 'color_row' %>
          <% end %>
        </div>


        <div id="turn-buttons" class="col-md-6 col-lg-12">
          <div id="turn-number">Turn: 1</div> </br>
           <button class="mastermind-btn" id="checkButton" onclick="checkGuess()">Check row </button> </br>
           <button class="mastermind-btn" onclick="newGame()">Start a new game </button> </br>
        </div>

        <div id="correct-colors" class="col-md-6 col-lg-12" style="visibility: hidden;">
          </br>
          <span class="col-xs-12"> The secret code is:</span>
          <%= render 'row'%>
        </div>
      </div>
    </div>

    <div id="board" class="col-md-12 col-lg-4 webd-font black-text" ondragover="allowDrop(event)" ondragstart="drag(event)" ondrop="return false;">
      <div class="row" position="fixed">
        <% 12.times do |r| %>
          <span id="turn-span" class="col-2"><%=r+1%></span>
          <%= render 'row', r: r%>
        <% end %>
      </div>
    </div>

    <div class="col-md-12 col-lg-5" id='guess-panel'>
      <% 12.times do %>
        <% 4.times do %>
          <div class="guess-font guess-indicator">
          </div>
        <% end %>
        <br>
      <% end %>
    </div>
  </div>
</div>
