<% provide(:title, @user.name) %>
<div class="center jumbotron">
  <%= gravatar_for @user %>
  <h1><%= @user.name %></h1>
  Member since <%= @user.created_at.strftime("%B %d, %Y") %><br>
  <%= @user.comments.count %> Comments, <%= @user.posts.count %> Posts
</div>

<div class="col-10 offset-1 user-feed">
  <h2>User activity:</h2>
  <% if @feed.any? %>
    <ol>
      <%= user_activities @feed %>
    </ol>
    <%= will_paginate @feed %>
  <% else %>
    There seems to be nothing here :(
  <% end %>
</div>
