<% provide(:title, "New post | Mini-Reddit") %>
<div class="center jumbotron  ">
  <h1>Create a new post</h1>
</div>

<div class="col-md-6 col-md-offset-3  ">
  <%= form_for(@post, url: mini_reddit_new_path) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :content, "Link to content:" %>
    <%= f.text_field :content, placeholder: "Place the link in this field..." %>

    <%= f.submit "Create post", class: "btn btn-primary" %>
  <% end %>
</div>
