<!DOCTYPE html>
<html>
  <head>
    <title>Deepak Birdi's Portfolio</title>
    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= render 'layouts/shim' %>
  </head>
    <%= render 'layouts/header' %>
  <body>
    <%= yield %>
  </body>
</html>
